[submodule "sources_non_forked/neomake"]
	path = sources_non_forked/neomake
	url = https://github.com/neomake/neomake.git
[submodule "sources_non_forked/vim-esearch"]
	path = sources_non_forked/vim-esearch
	url = https://github.com/eugen0329/vim-esearch.git
[submodule "sources_non_forked/deoplete.nvim"]
	path = sources_non_forked/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "sources_non_forked/deoplete-ternjs"]
	path = sources_non_forked/deoplete-ternjs
	url = https://github.com/carlitux/deoplete-ternjs.git
[submodule "sources_non_forked/deoplete-typescript"]
	path = sources_non_forked/deoplete-typescript
	url = https://github.com/faceleg/deoplete-typescript.git
[submodule "sources_non_forked/vim-monokai"]
	path = sources_non_forked/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "sources_non_forked/vim-js-indent"]
	path = sources_non_forked/vim-js-indent
	url = https://github.com/gavocanov/vim-js-indent
[submodule "sources_non_forked/vim-colorschemes"]
	path = sources_non_forked/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "sources_non_forked/yats.vim"]
	path = sources_non_forked/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "sources_non_forked/typescript-vim"]
	path = sources_non_forked/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
